<!-- src/app/feature/user-management/login/login.component.html -->
<div class="container">
  <mat-card>
    <mat-card-title>Login</mat-card-title
    ><mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required />
          @if (loginForm.get('email')?.hasError('required')) {
            <mat-error>{{ ERRORS['required'] }}</mat-error>
          }
          @if (loginForm.get('email')?.hasError('email')) {
            <mat-error>{{ ERRORS['email'] }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" required />
          @if (loginForm.get('password')?.hasError('required')) {
            <mat-error>{{ ERRORS['required'] }}</mat-error>
          }
        </mat-form-field>
        @for (error of getFormErrors(); track error) {
          <mat-error> {{ error }}</mat-error>
        }
        <div class="actions">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="isLoading"
          >
            @if (isLoading) {
              <mat-spinner diameter="20"></mat-spinner>
            } @else {
              <span>Login</span>
            }
          </button>
        </div>
      </form>
      <span routerLink="account-recovery">I forgot my username or password</span>
    </mat-card-content>
  </mat-card>
</div>
