.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  padding: 20px;
}

mat-error {
  color: #d32f2f; /* Red color for errors */
  margin-top: 10px;
}

.links {
  text-align: center;
  margin-top: 1em;
  font-size:1em;
  a {
    color: #0288d1; /* Blue link color */
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
