@import 'src/styles.scss';

.login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: min-content;
  margin: auto;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.toggle-password {
  position: absolute;
  right: 0.5em;
  top: 0.75em;
}

.form-group {
  position: relative;
}

.mat-card {
  background-color: #2d405e; // Softer off-white
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Slightly softer shadow
  padding: 20px;
}
