@import 'src/styles.scss';

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.toggle-password {
  position: absolute;
  right: .5em;
  top: .75em;
}

.form-group {
  position: relative;
}