<!-- login-form.component.html -->
<form [formGroup]="form" (ngSubmit)="submitForm()" class="login-form">
  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        id="username"
        placeholder="Username"
        formControlName="username"
        required
      />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        id="password"
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Password"
        formControlName="password"
        required
      />
    </mat-form-field>
    <mat-icon class="toggle-password" (mousedown)="togglePassword()">{{
      showPassword ? 'visibility_off' : 'visibility'
    }}</mat-icon>
  </div>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
  >
    Login
  </button>
</form>
