<!-- src/app/feature/user-management/login/login.component.html -->
<div class="container">
  <mat-card>
    <mat-card-title>Reset Password</mat-card-title
    ><mat-card-content>
      @if (passwordResetEmailSent) {
        <p>
          A link to reset your password has been sent to your email,
          <b>{{ form.value.email }}</b
          >.
        </p>
      } @else {
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" />
            <mat-error *ngIf="form.get('email')?.hasError('required')"
              >Email is required</mat-error
            >
            <mat-error
              *ngIf="
                form.get('email')?.hasError('email') ||
                form.get('email')?.hasError('invalidEmail')
              "
              >Invalid email</mat-error
            >
          </mat-form-field>
          <div class="actions">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="isLoading"
            >
              <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
              <span *ngIf="!isLoading">Send Password Reset Email</span>
            </button>
          </div>
        </form>
      }
      <span routerLink="reset-password">Back to Login</span>
    </mat-card-content>
  </mat-card>
</div>
