<div class="splash-container">
  <div class="splash-content">
    <div class="about-container">
      <p class="title-intro">WELCOME TO</p>

      <p class="title">BENJI</p>
      <p class="description">
        BENJI streamlines data collection and<br />
        empowers healthcare professionals with real-time insights to <br />
        enhance decision-making and <br />
        improve health outcomes.
      </p>
    </div>
    <div class="divider"></div>
    <div class="login-container">
      <app-login></app-login>
      @if (hasNotifications()) {
        <div class="notifications">
          <div class="notifications-title-bar"><h6>Notifications</h6></div>
          @for (
            notification of notifications()!.type.error;
            track notification
          ) {
            <mat-error>{{ notification }}</mat-error>
          }
          <!-- Add more notifications or information here -->
        </div>
      }
    </div>
  </div>
</div>
