<div class="splash-container">
  <div class="splash-content">
    <h1 class="splash-title">BENJI</h1>
    <p class="splash-description">
      BENJI is your trusted partner in the fight against noncommunicable
      diseases among Pacific Islanders. Designed with community input, BENJI
      streamlines data collection and empowers healthcare professionals with
      real-time insights to enhance decision-making and improve health outcomes.
    </p>
  </div>
  <div class="divider"></div>
  <div class="login-container">
    <app-login></app-login>
  </div>
</div>
