@import 'src/app/shared/styles/user-mgmt.scss';

.splash-container {
  @extend .container;
}

.splash-content {
  @extend .content;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.about-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 50%;
  text-align: center;
  align-self: center;
}

.title-intro {
  font-size: 1.5em;
  font-weight: 300;
  font-variant: small-caps;
}

.title {
  font-weight: 1000;
  font-size: 5em;
}

.description {
  width: 560px;
  font-size: 2em;
  font-weight: 300;
  line-height: 1.25em;
  align-self: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 50%;
  justify-content: center;
  height: 100%;
  background-color: #fbf8ff;
}
.notifications {
}

.notifications-title-bar {
  width: 100%;
  background-color: rgb(250, 250, 250) !important;
}

.divider {
  display: flex;
  width: 2px;
  height: 100%;
  background-color: black;
}
