@import '../splash/splash.component.scss';

.container {
  @extend .splash-container;
  height: 100vh;
}

.splash-content {
  @extend .splash-content;
}
.description {
  @extend .description;
  text-align: left;
  align-self: center;
}

.about-container {
  @extend .about-container;
  width: 50%;
}

.recovery-options-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-self: center;
  font-size: 1.2em;
  font-weight: 300;
}
.recovery-options-list {
  margin-left: 2em;
}

.recovery-step {
  margin-bottom: 1em;

  strong {
    margin-right: 0.5em;
  }
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: min-content;
  margin: auto;
}

mat-form-field {
  width: 100%;
}

.toggle-password {
  position: absolute;
  right: 0.5em;
  top: 0.75em;
}

form {
  // background-color: #ffffff;
  box-sizing: content-box;
  padding: 1em;
}

.form-group {
  
  background-color: #effdff;
}

.mat-card {
  background-color: #2d405e; // Softer off-white
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Slightly softer shadow
}

.links {
  text-align: center;
  margin-top: 1em;

  a {
    color: #0288d1; /* Blue link color */
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.option-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
