<div class="container">
  <div class="splash-content">
    <div class="about-container">
      <h2 class="title">Account Recovery</h2>
      <p class="description">
        We can help you recover your account. Follow the steps below. If further
        assistance is required, please contact support &#64;
        pwell-support&#64;aapcho.org
      </p>
      <div class="recovery-options-container">
        <div class="recovery-step">
          <strong>Step 1:</strong> Choose one of the identity verification
          options:

          <ul class="recovery-options-list">
            <li>email</li>
            <li>phone number</li>
            <li>name and birthdate</li>
          </ul>
        </div>
        <div class="recovery-step">
          <strong>Step 2:</strong> Fill out the required form fields.
        </div>
        <div class="recovery-step">
          <strong>Step 3:</strong> Click 'Recover'
        </div>
        <div class="recovery-step">
          <strong>Step 4:</strong> Follow any further instructions.
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="login-container">
      <p>To recover your account, please enter your:</p>
      <form
        [formGroup]="forms['email']"
        (ngSubmit)="submitForm()"
        #email
        id="email"
        (click)="selectForm($event)"
      >
        <div class="option-container">
          <div class="form-group">
            <br />
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="Email"
                formControlName="email"
                required
              />
            </mat-form-field>
          </div>
        </div>
      </form>
      <!--  -->
      <form
        [formGroup]="forms['phone']"
        (ngSubmit)="submitForm()"
        id="phone"
        (click)="selectForm($event)"
      >
        <div class="option-container">
          <div class="form-group">
            OR
            <mat-form-field appearance="outline">
              <mat-label>Phone number</mat-label>
              <input
                matInput
                placeholder="Phone"
                formControlName="phone"
                required
              />
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button color="primary" type="submit">Recover</button>
      </form>
      <!--  -->
      <form
        [formGroup]="forms['person']"
        (ngSubmit)="submitForm()"
        id="person"
        (click)="selectForm($event)"
      >
        <div class="option-container">
          <div class="form-group">
            OR
            <mat-form-field appearance="outline">
              <mat-label>First name</mat-label>
              <input
                matInput
                placeholder="First"
                formControlName="first"
                required
              />
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Last name</mat-label>
              <input
                matInput
                placeholder="Last"
                formControlName="last"
                required
              />
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Birthdate</mat-label>
              <input
                matInput
                placeholder="Birthdate"
                formControlName="birthdate"
                required
              />
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" (click)="submitForm()">
            Recover
          </button>
          <div id="recaptcha"></div>
        </div>
        <!--  -->
        <br />
        <div class="links">
          <a [routerLink]="['']">Back to login</a>
        </div>
      </form>
    </div>
  </div>
</div>
