.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  align-self: center;
  justify-self: center;
}

.user-card {
  width: 400px;
  height: 400px;
}