<!-- login-form.component.html -->
<form [formGroup]="form" (ngSubmit)="submitForm()" class="login-form">
  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        id="username"
        placeholder="Username"
        formControlName="username"
        required
      />
    </mat-form-field>
  </div>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
  >
    Login
  </button>
</form>
